a {
    color:#222222;
}

.wrapper, .row {
    margin-left:0;
    margin-right:0;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
    background-size:cover;
    background-attachment:fixed;
}

.divider {
    margin-top:32px;
}

#main {
    background-color:#fefefe;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
    #sidebar,#sidebar a.logo {
        text-align:center;
        margin:0 auto;
        margin-top:30px;
        font-size:26px;
    }
    #sidebar a.logo {
        font-size:50px;
        height:75px;
        width:75px;
        margin-bottom:30px;
    }
}

.page-header {
    margin-top: 10px;
    padding-top: 9px;
    border-top:1px solid #eeeeee;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
}

#sidebar {
    border-right: dashed #efefef thin;
}

.entry {
    border-bottom: solid #efefef thick;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-thumbnail {
    width: 100px;
}

.text-huge {
    font-size: 45px;
}

.eduPersonPrincipalName {
    border-bottom: dashed #d9534f thin;
}

.mail {
    border-bottom: dashed #00A000 thin;
}

.eduPersonTargetedID-persistentID {
    border-bottom: dashed #f0ad4e thin;
}

.entity-info {
}

.entity-info-name img {
    height: 50px;
}

.entity-contacts {
    text-align: left;
}

.entity-info-value {
    text-align: left;
}

.entity-contacts {
    min-height: 60px;
}

.entity-info-height-two {
    min-height: 40px;
}

.entity-attributes {
    font-size: 90%;
}

.auth-result {
    margin-top: 40px;
    margin-bottom: 50px;
}

.aa-vs {
    margin-top: 80px;
}